In [1]:
import pandas as pd
import json
import requests
from bson.json_util import dumps

### if wants to store data in mongodb
#Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)


Define database and collection
db = client.team_mascot_db
db.teams_south.drop()
db.teams_east.drop()
db.teams_west.drop()
db.teams_midwest.drop()
collection_south = db.teams_south
collection_east = db.teams_east
collection_west = db.teams_west
collection_midwest = db.teams_midwest

In [2]:
# Read the csv file for the data
csv_path = '../website/static/Resources/team_mascot_2018.csv'
team_df = pd.read_csv(csv_path)
team_df.head()

,Region Name,Team Seed,Team Name,Team Mascot
0,SOUTH,1,Virginia,https://i.turner.ncaa.com/sites/default/files/...
1,SOUTH,16,UMBC,https://i.turner.ncaa.com/sites/default/files/...
2,SOUTH,8,Creighton,https://i.turner.ncaa.com/sites/default/files/...
3,SOUTH,9,Kansas St.,https://i.turner.ncaa.com/sites/default/files/...
4,SOUTH,5,Kentucky,https://i.turner.ncaa.com/sites/default/files/...

In [3]:
# Rename the columns
team_df.columns = ['region', 'seed', 'name', 'mascot']
team_df.head()

  region  seed        name                                             mascot
0  SOUTH     1    Virginia  https://i.turner.ncaa.com/sites/default/files/...
1  SOUTH    16        UMBC  https://i.turner.ncaa.com/sites/default/files/...
2  SOUTH     8   Creighton  https://i.turner.ncaa.com/sites/default/files/...
3  SOUTH     9  Kansas St.  https://i.turner.ncaa.com/sites/default/files/...
4  SOUTH     5    Kentucky  https://i.turner.ncaa.com/sites/default/files/...

In [4]:
new_df = team_df.sort_values('region')
new_df.head()

,region,seed,name,mascot
17,EAST,16,Radford,https://i.turner.ncaa.com/sites/default/files/...
16,EAST,1,Villanova,https://i.turner.ncaa.com/sites/default/files/...
20,EAST,5,West Virginia,https://i.turner.ncaa.com/sites/default/files/...
21,EAST,12,Murray St.,https://i.turner.ncaa.com/sites/default/files/...
22,EAST,4,Wichita St.,https://i.turner.ncaa.com/sites/default/files/...

In [5]:
east_df = new_df.iloc[0:18]
drop_east_df = east_df.drop(['region'], axis=1)
new_east_df = drop_east_df.sort_values('seed')

new_east_df = new_east_df.reset_index(drop=True)
new_east_df

    seed               name                                             mascot
0      1          Villanova  https://i.turner.ncaa.com/sites/default/files/...
1      2             Purdue  https://i.turner.ncaa.com/sites/default/files/...
2      3         Texas Tech  https://i.turner.ncaa.com/sites/default/files/...
3      4        Wichita St.  https://i.turner.ncaa.com/sites/default/files/...
4      5      West Virginia  https://i.turner.ncaa.com/sites/default/files/...
5      6            Florida  https://i.turner.ncaa.com/sites/default/files/...
6      7           Arkansas  https://i.turner.ncaa.com/sites/default/files/...
7      8      Virginia Tech  https://i.turner.ncaa.com/sites/default/files/...
8      9            Alabama  https://i.turner.ncaa.com/sites/default/files/...
9     10             Butler  https://i.turner.ncaa.com/sites/default/files/...
10    11    St. Bonaventure  https://i.turner.ncaa.com/sites/default/files/...
11    11               UCLA  https://i.turner.ncaa.com/sites/default/files/...
12    12         Murray St.  https://i.turner.ncaa.com/sites/default/files/...
13    13           Marshall  https://i.turner.ncaa.com/sites/default/files/...
14    14  Stephen F. Austin  https://i.turner.ncaa.com/sites/default/files/...
15    15  Cal St. Fullerton  https://i.turner.ncaa.com/sites/default/files/...
16    16        Long Island  https://i.turner.ncaa.com/sites/default/files/...
17    16            Radford  https://i.turner.ncaa.com/sites/default/files/...

In [6]:
midwest_df = new_df.iloc[18:35]
drop_midwest_df = midwest_df.drop(['region'], axis=1)
new_midwest_df = drop_midwest_df.sort_values('seed')
new_midwest_df = new_midwest_df.reset_index(drop=True)
new_midwest_df

,seed,name,mascot
0,2,Duke,https://i.turner.ncaa.com/sites/default/files/...
1,3,Michigan St.,https://i.turner.ncaa.com/sites/default/files/...
2,4,Auburn,https://i.turner.ncaa.com/sites/default/files/...
3,5,Clemson,https://i.turner.ncaa.com/sites/default/files/...
4,6,TCU,https://i.turner.ncaa.com/sites/default/files/...
5,7,Rhode Island,https://i.turner.ncaa.com/sites/default/files/...
6,8,Seton Hall,https://i.turner.ncaa.com/sites/default/files/...
7,9,North Carolina St.,https://i.turner.ncaa.com/sites/default/files/...
8,10,Oklahoma,https://i.turner.ncaa.com/sites/default/files/...
9,11,Syracuse,https://i.turner.ncaa.com/sites/default/files/...
10,11,Arizona St.,https://i.turner.ncaa.com/sites/default/files/...
11,12,New Mexico St.,https://i.turner.ncaa.com/sites/default/files/...
12,13,Col. of Charleston,https://i.turner.ncaa.com/sites/default/files/...
13,14,Bucknell,https://i.turner.ncaa.com/sites/default/files/...
14,15,Iona,https://i.turner.ncaa.com/sites/default/files/...
15,15,Lipscomb,https://i.turner.ncaa.com/sites/default/files/...
16,16,Penn,https://i.turner.ncaa.com/sites/default/files/...

In [7]:
south_df = new_df.iloc[35:51]
drop_south_df = south_df.drop(['region'], axis=1)
new_south_df = drop_south_df.sort_values('seed')
new_south_df = new_south_df.reset_index(drop=True)
new_south_df

    seed         name                                             mascot
0      1     Virginia  https://i.turner.ncaa.com/sites/default/files/...
1      2   Cincinnati  https://i.turner.ncaa.com/sites/default/files/...
2      3    Tennessee  https://i.turner.ncaa.com/sites/default/files/...
3      4      Arizona  https://i.turner.ncaa.com/sites/default/files/...
4      5     Kentucky  https://i.turner.ncaa.com/sites/default/files/...
5      6   Miami (FL)  https://i.turner.ncaa.com/sites/default/files/...
6      7       Nevada  https://i.turner.ncaa.com/sites/default/files/...
7      8    Creighton  https://i.turner.ncaa.com/sites/default/files/...
8      9   Kansas St.  https://i.turner.ncaa.com/sites/default/files/...
9     10        Texas  https://i.turner.ncaa.com/sites/default/files/...
10    11  Loyola (IL)  https://i.turner.ncaa.com/sites/default/files/...
11    12     Davidson  https://i.turner.ncaa.com/sites/default/files/...
12    13      Buffalo  https://i.turner.ncaa.com/sites/default/files/...
13    14   Wright St.  https://i.turner.ncaa.com/sites/default/files/...
14    15  Georgia St.  https://i.turner.ncaa.com/sites/default/files/...
15    16         UMBC  https://i.turner.ncaa.com/sites/default/files/...

In [8]:
west_df = new_df.iloc[51:68]
drop_west_df = west_df.drop(['region'], axis=1)
new_west_df = drop_west_df.sort_values('seed')
new_west_df = new_west_df.reset_index(drop=True)
new_west_df

    seed              name                                             mascot
0      1            Kansas  https://i.turner.ncaa.com/sites/default/files/...
1      1            Xavier  https://i.turner.ncaa.com/sites/default/files/...
2      2    North Carolina  https://i.turner.ncaa.com/sites/default/files/...
3      3          Michigan  https://i.turner.ncaa.com/sites/default/files/...
4      4           Gonzaga  https://i.turner.ncaa.com/sites/default/files/...
5      5          Ohio St.  https://i.turner.ncaa.com/sites/default/files/...
6      6           Houston  https://i.turner.ncaa.com/sites/default/files/...
7      7         Texas A&M  https://i.turner.ncaa.com/sites/default/files/...
8      8          Missouri  https://i.turner.ncaa.com/sites/default/files/...
9      9       Florida St.  https://i.turner.ncaa.com/sites/default/files/...
10    10        Providence  https://i.turner.ncaa.com/sites/default/files/...
11    11     San Diego St.  https://i.turner.ncaa.com/sites/default/files/...
12    12  South Dakota St.  https://i.turner.ncaa.com/sites/default/files/...
13    13    UNC Greensboro  https://i.turner.ncaa.com/sites/default/files/...
14    14           Montana  https://i.turner.ncaa.com/sites/default/files/...
15    16      N.C. Central  https://i.turner.ncaa.com/sites/default/files/...
16    16    Texas Southern  https://i.turner.ncaa.com/sites/default/files/...

In [9]:
rec_east = json.loads(new_east_df.T.to_json()).values()
rec_midwest = json.loads(new_midwest_df.T.to_json()).values()
rec_south = json.loads(new_south_df.T.to_json()).values()
rec_west = json.loads(new_west_df.T.to_json()).values()

In [11]:
east_json = dumps(rec_east)

with open('../website/static/resources/east_teams.json', 'w') as jf:
    jf.write(east_json)

In [12]:
midwest_json = dumps(rec_midwest)

with open('../website/static/resources/midwest_teams.json', 'w') as jf:
    jf.write(midwest_json)

In [13]:
south_json = dumps(rec_south)

with open('../website/static/resources/south_teams.json', 'w') as jf:
    jf.write(south_json)

In [14]:
west_json = dumps(rec_west)

with open('../website/static/resources/west_teams.json', 'w') as jf:
    jf.write(west_json)

### Only if using mongodb
collection_east.insert_many(rec_east)
collection_midwest.insert_many(rec_midwest)
collection_south.insert_many(rec_south)
collection_west.insert_many(rec_west)

# Display items in MongoDB collection
east_team = db.teams_east.find()

for team in east_team:
    print(team)